body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body.registration-background {
    background-color: #007BFF;
}

body.login-background,
body.password-recovery-background {
    background-color: #007BFF; 
}

.container {
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    color: #555;
}

.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus {
    border-color: #007BFF;
}

.form-group button {
    width: 100%;
    padding: 12px;
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.form-group button:hover {
    background-color: #0056b3;
}

.links,
.back-link,
.login-link {
    text-align: center;
    margin-top: 20px;
}

.links a,
.back-link a,
.login-link a {
    color: #007BFF;
    text-decoration: none;
    transition: color 0.3s;
}

.links a:hover,
.back-link a:hover,
.login-link a:hover {
    color: #6fb1f7;
}

footer {
    margin-top: 20px;
    text-align: center;
    color: hsl(300, 100%, 100%);
    padding: 10px;
    width: 100%;
}

#preloader {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #fff; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.loader {
    position: relative;
    width: 80%;
    max-width: 400px;
    height: 20px;
    background-color: #f3f3f3;
    border-radius: 10px;
    overflow: hidden;
}

.loader-bar {
    height: 100%;
    width: 0;
    background-color: #3498db;
    animation: load 3s forwards;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-bar span {
    color: white;
    font-size: 16px;
    opacity: 0;
    animation: textAppear 3s forwards;
}

@keyframes load {
    0% {
        width: 0;
    }
    100% {
        width: 100%;
    }
}

@keyframes textAppear {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

body.loaded #preloader {
    display: none;
}